# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
.venv/

# IDE
.idea/
.vscode/

# Testing / Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
